## Display file data

In [1]:
import pandas as pd
data_frame = pd.read_csv('villes_france.csv', low_memory=False, header=None, sep=',', skipinitialspace=False,names=['A' + str(i) for i in range(26)])
# print(data_frame)
data_frame.head(-1)

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A16,A17,A18,A19,A20,A21,A22,A23,A24,A25
1,01,ozan,OZAN,ozan,Ozan,O250,OSN,01190,284,01284,...,93,6.60,4.91667,46.3833,2866.0,51546.0,45456.0,462330.0,170.0,205.0
2,01,cormoranche-sur-saone,CORMORANCHE-SUR-SAONE,cormoranche sur saone,Cormoranche-sur-Saône,C65652625,KRMRNXSRSN,01290,123,01123,...,107,9.85,4.83333,46.2333,2772.0,51379.0,44953.0,461427.0,168.0,211.0
3,01,plagne-01,PLAGNE,plagne,Plagne,P425,PLKN,01130,298,01298,...,20,6.20,5.73333,46.1833,3769.0,51324.0,54342.0,461131.0,560.0,922.0
4,01,tossiat,TOSSIAT,tossiat,Tossiat,T230,TST,01250,422,01422,...,138,10.17,5.31667,46.1333,3309.0,51268.0,51854.0,460828.0,244.0,501.0
5,01,pouillat,POUILLAT,pouillat,Pouillat,P430,PLT,01250,309,01309,...,14,6.23,5.43333,46.3333,3435.0,51475.0,52542.0,461938.0,333.0,770.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36824,976,pamandzi,PAMANDZI,pamandzi,Pamandzi,P532,PMNTS,97610,615,97615,...,2305,4.29,45.27620,-12.7982,NaN,NaN,NaN,NaN,NaN,NaN
36825,976,sada,SADA,sada,Sada,S300,ST,97640,616,97616,...,933,10.92,45.10470,-12.8486,NaN,NaN,NaN,NaN,NaN,NaN
36826,976,tsingoni,TSINGONI,tsingoni,Tsingoni,T2525,TSNKN,97680,617,97617,...,300,34.76,45.10700,-12.7897,NaN,NaN,NaN,NaN,NaN,NaN
36827,971,st-barthelemy,SAINT BARTHELEMY,st barthelemy,Saint-Barthélemy,S5316345,SNTPR0LM,97133,123,97123,...,372,24.00,-62.83330,17.9167,NaN,NaN,NaN,NaN,NaN,NaN
36828,971,st-martin,SAINT MARTIN,st martin,Saint-Martin,S535635,SNTMRTN,97150,127,97127,...,695,53.20,18.09130,-63.0829,NaN,NaN,NaN,NaN,NaN,NaN

## Sort by people

In [ ]:
# data_frame2 = data_frame.sort_values(by=['A15'], ascending=False)
# data_frame2.head(-1)

## Retrieve specific columns

In [ ]:
# data_frame[['A4', 'A15']]

## Display 50 first results

In [ ]:
# data_frame.head(50)